footer.nav-control-menu {
    bottom: 60px;
    width: 100%;
}
.width-100-a {
    width: 100%;
}
.input-s-lg-form {
    width: 325px;
}

.nav > li.li_menu {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.section_content{
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.section_content .title_header {
    background-color: #1aae88;
    color: #444;
    display: block;
    padding: 15px 20px;
    position: relative;
    border-bottom: 0px solid #f4f4f4;
    margin-bottom: 0;
}


.section_content .title_header h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    padding-left: 10px;
    color: #fff;
    display: inline-block;
    margin: 0;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 30px;
    border-top: 1px solid #cccc;
}

.dataTables_wrapper {
    position: relative;
    margin-top: 40px;
}

header.header_title {
    position: relative;
    padding: 15px 20px;
    padding-left: 32px;
}
header.header_title .btn {
    padding: 15px 20px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
}

.panel .table td,
.panel .table th{
    text-align: center;
}
.panel .table td, 
.panel .table th {
    padding: 12px 15px;
    border-top: 1px solid #eaeef1;
}
.content-header {
    margin-top: 0px;
    background-color: #2d303c;
    padding: 10px 15px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}
.breadcrumb {
    background-color: #2d303c;
    border: 0;
    padding-left: 10px;
    margin-bottom: 0;
}
.breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb {
    /*position: absolute;
    right: 27px;
    z-index: 999;*/
}
header.panel-heading {
    color: #fff !important;
    display: block;
    padding: 15px 20px;
    position: relative;
    background-color: #353847 !important;
}
header.panel-heading strong {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
}

.labels_groups label.checkbox-inline.i-checks {
    width: 31%;
    margin-left: 0;
}

.errors {
    border-color: #ff5f5f;
}

.success {
    border-color: #3c8a0c;
}